<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Earthquake Visualiser</title>
  <script src="public/map.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="public/styles.css">
</head>
<body>
  <h1>Earthquake Visualiser</h1>
  <form action="/earthquakes/fetch" method="POST">
    <label for="range">Select Time Range:</label>
    <select name="range" id="range" required>
      <option value="hour">Past Hour</option>
      <option value="day">Past Day</option>
      <option value="week">Past Week</option>
      <option value="month">Past Month</option>
    </select>
    <button type="submit">Fetch Earthquakes</button>
  </form>

  <hr>
  <h2>Latest Stored Earthquakes (Top 20 by Magnitude)</h2>
  <button onclick="loadEarthquakes()">Load Earthquakes</button>
  <table id="earthquakeTable">
    <thead>
        <tr>
        <th>Magnitude</th>
        <th>Place</th>
        <th>Time</th>
        <th>Latitude</th>
        <th>Longitude</th>
        </tr>
    </thead>
    <tbody></tbody>
   </table>
   <div id="mapcontainer" style="position:relative"> </div>
  <script>
    async function loadEarthquakes() {
      const res = await fetch('/earthquakes/all');
      const data = await res.json();
      const tbody = document.querySelector('#earthquakeTable tbody');
      tbody.innerHTML = '';
      data.forEach(eq => {
        const row = document.createElement('tr');
        row.id = eq.id;
        row.innerHTML = `
          <td>${eq.mag}</td>
          <td>${eq.place}</td>
          <td>${eq.time}</td>
          <td>${eq.latitude}</td>
          <td>${eq.longitude}</td>`;
        tbody.appendChild(row);
        row.addEventListener('click', () => {
            focusEarthquake(eq);
        });
      });
      loadEarthquakeMarkers(data);
    }
  </script>
  <script>
    (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
    ({key: "AIzaSyDWDTIkSKgXe_F-oBe_WZ1QQvRs2Vm7kdo", v: "beta",});
    initMap()
  </script>
</body>
</html>
